/* SPACING STYLES */

.fill_screen {
    min-height: 85vh;
}

.card-panel .row{
    margin-bottom: 0;
}

#qoute-card-info{
    margin-bottom: 0;
}

.m_10 {
    margin: 10vh;
}
/* /SPACING STYLES */

/* CUSTOM STYLES */
.btn_small {
    height: 24px;
    width: 50px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
/*  /CUSTOM STYLES */

/*  COLORS */
.primary_purple_bg {
    background-color: #542344;
}

.secondary_purple_bg {
    background-color: #AF929D;
}

.off_white_bg {
    background-color: #E5FFDE;
}

.off_white_text{
    color:  #E5FFDE;
}

.primary_purple_text{
    color: #542344
}

a {
    color: #542344;
}
/*  /COLORS */

/* BACKGROUND IMAGE */
.bg_img {
    background-color: #ffffff;
    background-image: url(https://www.transparenttextures.com/patterns/escheresque-dark.png);
    background-attachment: fixed;
}


/*  /BACKGROUND IMAGE */