#qoute-card-info{
    margin-bottom: 0;
}

.card-panel .row{
    margin-bottom: 0;
}

.btn_small {
    height: 24px;
    width: 50px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}