body {
    font-family: "Nunito", sans-serif;
}

/* SPACING STYLES */

.fill_screen {
    min-height: 85vh;
}

.card-panel .row {
    margin-bottom: 0;
}

#qoute-card-info {
    margin-bottom: 0;
}

.m_10 {
    margin: 10vh 0;
}

.my_10px {
    margin: 10px auto;
}

/* this style fixes bug with adding margin to each row, this will fill the gap between content and footer */
.p_bottom_20 {
    padding-bottom: 20px;
}

.p_20 {
    padding: 15px;
}

.p_10 {
    padding: 10px;
}

.b_radius {
    border-radius: 5px;
}

.stretch_w_90 {
    width: 90%;
}

/* /SPACING STYLES */

/* CUSTOM STYLES */
.btn_small {
    height: 24px;
    width: 50px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.card-panel {
    padding-bottom: 7px;
}

#category-filter-btn {
    margin: 10px 0;
    text-align: center;
}

#page_heading {
    max-width: 350px;
    background-color: #542344;
    border-radius: 10px;
    text-align: center;
    margin: 10vh auto;
    padding: 4px 5px;
    box-shadow: 1px 2px 5px;
}

.secondary_btn_red {
    background-color: white;
    border: 2px solid red;
    color: red;
    box-sizing: content-box;
}

.secondary_btn_red:hover {
    background-color: red;
    color: white;
}

/*  /CUSTOM STYLES */

/*  COLORS + FONTS*/
.primary_purple_bg {
    background-color: #542344;
}

.secondary_purple_bg {
    background-color: #AF929D;
}

.primary_purple_text {
    color: #542344
}

#content a {
    color: #542344;
}

#content a:hover {
    background-color: #542344;
    ;
    border-radius: 3px;
    color: #E5FFDE;
}

.opaque_bg {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

strong {
    font-weight: 600;
}

/*  /COLORS + FONTS */

/* BACKGROUND IMAGE */
.bg_img {
    background-color: #fff;
    background-image: url(https://www.transparenttextures.com/patterns/clean-textile.png);
    background-attachment: fixed;
}

/*  /BACKGROUND IMAGE */


/* THE CODE BELOW IS ACCREDITED TO "Let's Yo" on "stackoverflow" */

.material-icons {
    color: #fff !important;
}

.material-icons.active {
    color: #542344 !important;
}

.input-field input+label,
.materialize-textarea:focus:not([readonly])+label {
    color: #fff !important;
}

.input-field input,
textarea.materialize-textarea,
.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}


.input-field input:focus+label,
.materialize-textarea:focus:not([readonly])+label {
    color: #542344 !important;
}

.input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #542344 !important;
    box-shadow: 0 1px 0 0 #542344 !important;
}

/* THE CODE ABOVE IS ACCREDITED TO "Let's Yo" on "stackoverflow" */