<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scriptio</title>

  <!-- LOAD STYLES  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">

  <!-- /LOAD STYLES -->
</head>

<body>

  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper primary_purple_bg">
          <a href="{{ url_for('get_quotes')}}" class="brand-logo"><img
              src="{{ url_for('static', filename='images/scriptio-logo.png') }}" width="150px" height="auto"
              alt="Scriptio logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('get_quotes')}}">Home</a></li>
            <li><a href="{{ url_for('post_quote')}}">Add quote</a></li>
            <li><a href="{{ url_for('get_categories')}}">Categories</a></li>
          </ul>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <!-- the code below is for materialize mobile-nav -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('get_quotes')}}">Home</a></li>
      <li><a href="{{ url_for('post_quote')}}">Add quote</a></li>
      <li><a href="{{ url_for('get_categories')}}">Categories</a></li>
    </ul>
  </header>

  <div class="fill_screen bg_img">
  <div class="container">

    {% block content %}

    <!-- content injected here -->

    {% endblock %}

  </div>
  </div>


  <footer class="page-footer primary_purple_bg">
    
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    
  </footer>

  <!--  LOAD SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('select').formSelect();
      $('.sidenav').sidenav();
    });
  </script>
  <!--  /LOAD SCRIPTS -->

</body>

</html>