<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scriptio</title>

  <!-- LOAD STYLES  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico' )}}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico' )}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
  <!-- /LOAD STYLES -->

  <!-- LOAD EMAILJS BEFORE CLOSING HEAD TAG, AS PER DOCS -->
  <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js">
  </script>
  <script>
    (function () {
      emailjs.init("user_zryNwhPPBjpsX5Jah5OM5");
    })();
  </script>
</head>

<body>

  <!-- NAVIGATION ELEMENTS -->
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper primary_purple_bg">
          <a href="{{ url_for('get_quotes')}}" class="brand-logo"><img
              src="{{ url_for('static', filename='images/scriptio-logo.png') }}" width="150px" height="auto"
              alt="Scriptio logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('get_quotes')}}">Home</a></li>
            <li><a href="{{ url_for('post_quote')}}">Add quote</a></li>
            <li><a href="{{ url_for('get_categories')}}">Categories</a></li>
          </ul>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <!-- the code below is for materialize mobile-nav -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('get_quotes')}}">Home</a></li>
      <li><a href="{{ url_for('post_quote')}}">Add quote</a></li>
      <li><a href="{{ url_for('get_categories')}}">Categories</a></li>
    </ul>
  </header>
  <!-- /NAVIGATION ELEMENTS -->

  <div class="fill_screen bg_img p_bottom_20" id="content">
    <div class="container">

      {% block content %}

      <!-- content injected here -->

      {% endblock %}

    </div>
  </div>


  <footer class="page-footer primary_purple_bg">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">This is a place to keep all your favourite quotes, you can filter them by
            category, or by who said it.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Us</h5>
          <p class="grey-text text-lighten-4">If you need to contact us, simply hit the button below to let us know.</p>
          <a href="#modal-contact" class="waves-effect waves-light btn modal-trigger secondary_purple_bg alt-button">Contact</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 tenbonks
      </div>
    </div>

  </footer>

  <div id="modal-contact" class="modal">
    <div class="modal-content secondary_purple_bg">
      <div class="white-text">
        <h4>Contact us</h4>
      <p>If you want to ask us anything, fill out the form below, hit send, and you will recieve a confirmation email.
      </p>
      </div>


      <form onsubmit="return sendMail(this);" class="col s12 form-container white-text" id="contactForm">

        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">record_voice_over</i>
            <input name="from_name" id="from_name" type="text" class="white-text" required="" aria-required="true">
            <label for="icon_prefix">Name</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">poll</i>
            <input name="from_email" id="from_email" type="email" class="white-text" required="" aria-required="true">
            <label for="icon_prefix">Email</label>
          </div>

        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">notes</i>
            <textarea name="message" id="message" class="materialize-textarea white-text" required=""
              aria-required="true"></textarea>
            <label class="white-text" for="icon_prefix">Message</label>
          </div>
        </div>

        <div class="row">

          <div class="col center-align s6">
            <a class="btn waves-effect waves-light modal-close primary_purple_bg alt-button" name="close">Cancel
              <i class="material-icons right">close</i>
            </a>
          </div>

          <div class="col center-align s6">
            <button class="btn waves-effect waves-light primary_purple_bg alt-button" type="submit">Send
              <i class="material-icons right">send</i>
            </button>

          </div>

        </div>
      </form>

    </div>

    <!--  LOAD SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $('select').formSelect();
        $('.sidenav').sidenav();
        $('.modal').modal();
      });
    </script>
    <script src="{{ url_for('static', filename='js/sendEmail.js' )}}"></script>
    <!--  /LOAD SCRIPTS -->
  </div>
</body>

</html>