{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12">
        <div class="center-align" id="page_heading">
            <div class="white-text">
                <h4>Edit quote</h4>
            </div>
            <hr>
            <div class="white-text">
                <p><b>Update fields in this quote</b></p>
            </div>
        </div>
    </div>
</div>

<div class="row">


    <div class="opaque_bg p_10">

        <div class="form-container p_10 secondary_purple_bg b_radius white-text">

            <form action="{{ url_for('update_quote', quote_id=quote._id) }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12 white-text">
                        <i class="material-icons prefix">notes</i>
                        <textarea name="quote" id="quote icon_quote" required="" class="materialize-textarea white-text"
                            value="{{quote.quote}}">{{ quote.quote }}</textarea>
                        <label for="icon_prefix" class="white-text">Quote</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6 white-text">
                        <i class="material-icons prefix">record_voice_over</i>
                        <input name="said_by" id="said_by" type="text" class="white-text" required=""
                            value="{{ quote.said_by }}">
                        <label for="icon_prefix" class="white-text">Said by</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix white-text">poll</i>
                        <select name="category_name" id="category_name">
                            <option value="" class="white-text" required="" disabled selected>Choose Category</option>

                            {% for cat in categories %}
                            {% if cat.category_name == quote.category_name %}
                            <option class="white-text" value="{{ cat.category_name }}" selected>{{ cat.category_name }}
                            </option>
                            {% else %}
                            <option class="white-text" value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label class="white-text">Quote Category</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col center-align s12">
                        <button class="btn waves-effect waves-light primary_purple_bg alt-button" type="submit" name="action">Edit
                            <i class="material-icons right">edit</i>
                        </button>
                    </div>

                </div>
            </form>


            <!-- section below is for the delete quote button -->
            <form action="{{ url_for('delete_quote', quote_id=quote._id) }}">
                <div class="row">
                    <div class="col center-align s12">
                        <p><b>To remove this post, just click the button below.</b></p>
                        <button class="btn waves-effect waves-light secondary_btn_red" type="submit"
                            name="action">Delete

                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>


</div>





{% endblock %}