{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="center-align m_10">
      <h4>{{ page_title }}</h4>
      <hr>
    </div>
  </div>
</div>
{% for quote in posts %}

<div class="row">
  <div class="col s12">
    <div class="card-panel light-blue white-text">
      
      <div class="row">
        <div class="col s12">
          <p class="flow-text">"{{ quote.quote }}"</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="valign-wrapper">
          <div class="col s4">
            <a href="{{ url_for('edit_quote', quote_id=quote._id) }}" class="waves-effect waves-light btn btn_small grey">Edit</a>
          </div>        
          <div class="col s8">
            <p class="right-align" id="quote-card-info" >Said by <strong><a href="{{ url_for('quotes_by', said_by=quote.said_by) }}">{{ quote.said_by }}</a></strong> | <strong>{{ quote.category_name }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}