{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="center-align" id="page_heading">
      <div class="white-text">
        <h4>{{ page_title }}</h4>
      </div>
      <hr>
      <div class="white-text">
        <p>{{ total_quotes }}</p>
      </div>
    </div>
  </div>
</div>

<div class="opaque_bg">

  <div class="center-align" id="pagination-info-container">
    {{ pagination.info }}
  </div>

  {% if total_quotes_count == 0 %}
  <div class="row center-align p_20">
    <div class="col s12 my_10px primary_purple_text">
      <h5>Oops, no quotes to be seen here</h5>
    </div>
    <div class="col s12">
      <hr>
    </div>
    <div class="col s12 my_10px">
      <a href="{{ url_for('post_quote') }}" class="waves-effect waves-light btn secondary_purple_bg white-text">Add
        quote</a>
    </div>
  </div>

  {% endif %}

  {% for quote in posts %}

  <div class="row">
    <div class="col s12">
      <div class="card-panel secondary_purple_bg white-text">

        <div class="row">
          <div class="col s12">
            <p class="flow-text">"{{ quote.quote }}"</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="valign-wrapper">
            <div class="col s4">
              <a href="{{ url_for('edit_quote', quote_id=quote._id) }}"><strong>Edit</strong></a>
            </div>
            <div class="col s8">
              <p class="right-align" id="quote-card-info">Said by <strong><a
                    href="{{ url_for('quotes_by', said_by=quote.said_by) }}">{{ quote.said_by }}</a></strong> |
                <strong>{{ quote.category_name }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

  <div class="center-align">
    {{ pagination.links }}
  </div>

</div>

{% endblock %}