{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
      <div class="center-align m_10">
        <h4>Filter quotes</h4>
        <hr>
        <p>Find the quotes you're in the mood for, maybe something funny to add a spring to your day?</p> 
        <p>Maybe a daily dose of mindfulness?</p>
      </div>
    </div>
  </div>

<div class="row">
    {% for cat in categories %}
    <div class="col s12 m6 l4" id="category-filter-btn">
        <a href="{{ url_for('filter_quotes', category_name=cat.category_name)}}"class="waves-effect waves-light btn-large" value="{{ cat.category_name }}">{{ cat.category_name }}</a>
    </div>
    {% endfor %}
</div>


{% endblock %}