{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="center-align" id="page_heading">
      <div class="white-text">
        <h4>Filter quotes</h4>
      </div>
      <hr>
      <div class="white-text">
        <p>Look up quotes by category</p>
      </div>
    </div>
  </div>
</div>

<div class="opaque_bg">
  <div class="row">

    {% for cat in categories %}
    <div class="col s12 m6 l4" id="category-filter-btn">
      <a href="{{ url_for('filter_quotes', category_name=cat.category_name)}}"
        class="waves-effect waves-light btn-large secondary_purple_bg stretch_w_90 white-text"
        value="{{ cat.category_name }}">{{ cat.category_name }}</a>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}