{% extends "base.html" %}
{% block content %}

<h3>Post Qoute</h3>

<div class="row">
    <form action="{{ url_for('insert_qoute') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">notes</i>
                <textarea name="qoute" id="qoute icon_qoute" class="materialize-textarea" rows="2"></textarea>
                <label for="icon_prefix">Qoute</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">record_voice_over</i>
                <input name="said_by" id="said_by" type="text" class="validate">
                <label for="icon_prefix">Said by</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">poll</i>
                <select name="category_name" id="category_name">
                    <option value="" disabled selected>Choose Category</option>

                    {% for cat in categories %}
                    <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                    {% endfor %}
                  </select>
                  <label>Qoute Category</label>
            </div>

        </div>

        <div class="row">
            <div class="col center-align s12">
                <button class="btn-floating btn-large waves-effect waves-light light-blue" type="submit">
                    <i class="material-icons">add_comment</i>
                  </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}