{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12">
        <div class="center-align" id="page_heading">
            <div class="white-text">
                <h4>Add Quote</h4>
            </div>
            <hr>
            <div class="white-text">
                <p>
                    Easy as 1, 2, 3
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <form action="{{ url_for('insert_quote') }}" method="POST"
        class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">notes</i>
                <textarea name="quote" id="quote icon_quote" class="materialize-textarea" rows="2"
                    class="validate"></textarea>
                <label for="icon_prefix">Quote</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">record_voice_over</i>
                <input name="said_by" id="said_by" type="text" required="" aria-required="true">
                <label for="icon_prefix">Said by</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">poll</i>
                <select name="category_name" id="category_name" required="" aria-required="true">
                    <option value="" disabled selected>Choose Category</option>

                    {% for cat in categories %}
                    <option value="{{ cat.category_name }}" required="" aria-required="true">{{ cat.category_name }}</option>
                    {% endfor %}
                </select>
                <label>Quote Category</label>
            </div>

        </div>

        <div class="row">
            <div class="col center-align s12">
                <button class="btn waves-effect waves-light primary_purple_bg" type="submit" name="action">Add
                    <i class="material-icons right">add_comment</i>
                  </button>
            
            </div>
        </div>

    </form>

</div>

{% endblock %}